/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header img {
  width: 100%;
  height: auto;
}

/* Aquaculture Section */
.aquaculture-section {
  display: flex;
  padding: 10px;
  background-color: #f8f8f8;
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: auto;
}

.image {
  flex: 1;
  padding-left: 30px;
  padding-top: 20px;
}

.image img {
  top: 39px;
  left: -255px;
  width: 50vw;
  height: 40vw;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #000000
}

.content {
  flex: 1;
  padding-left: 100px;
  padding-right: 100px;
}

.whatwedo {
  color: #EEC044;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 48px;
  padding-top: 0px;
  line-height:36px;
  font-weight: 400;
  padding-bottom: none;
}

.content h3 {
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #1F1E17;
  line-height: 57.6px;
}

.services {
  width: 545px;
height: 651px;
top: 50px;
left: 625px;
gap: 0px;
opacity: 0px;
font-family: Manrope;
font-size: 32px;
font-weight: 500;
line-height: 30px;
text-align: left;
font-family: Manrope;
font-size: 16px;
font-weight: 500;
line-height: 30px;
text-align: left;
  margin-top: 20px;
}

.service {
  margin-bottom: 20px;
}

.service h4 {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.service ul {
  list-style: none;
  padding: 0;
}

.service ul li {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #731717;
  margin-bottom: 5px;
}

.service ul li::before {
  content: '•';
  color: #731717;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Container and Cards */
.container-service {
  margin-left:50px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  
  
}

.row {
  border: 2px;
  border-color: #333;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 -10px;

}

.card-wrapper {
  margin:50px;
  padding-left: 10px;
  flex: 1;
  padding: 50 100px; 
}

.card-x {
  border: 1px #000000;
  width: 100%;
  margin-bottom: 20px;
 
}

.card-img-top {
  width: 100%;
  height: 250px; 
  object-fit: cover;
}

.card-body{
  border:1px;
  padding: 20px;
}

.card-title {
  margin-left: 50px;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  font-weight:800;
  color: #000000;
}

.card-title-precision {
  margin-left: 50px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight:800;
  color: #000000;
}

.card-text {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #8B8982;
  margin-bottom:30px
}

.btn-primary {
  margin-top: 40px;;
  margin-left: 70px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #4BAF47;
  border-color: #4BAF47;
  top:750px;
  left:85px;
  height: 46px;
  width: 110px;
  font-family: Manrope;
font-size: 12px;
font-weight: 700;
line-height: 36px;
text-align: right;

}

.btn-primary:hover {
  background-color: #b6dc0c;
  border-color: #b6dc0c;
}

.mt-5 {
  margin-top: 3rem !important;
}

/* Video Section */
.video-container {
  position: relative;
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.play-button {
  font-size: 48px;
}

.video-text {
  font-size: 24px;
  margin-left: 20px;
}



.bg-success {
  background-color: #4BAF47 !important;
  width: 99.7vw;
  color: white;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 3rem;
  font-family: 'Pacifico', cursive;
  text-align: center;
  position: relative;
}

.text-light {
  font-family: Covered By Your Grace;
font-size: 25px;
font-weight: 400;
line-height: 45px;
text-align: left;
  color: #e9c46a;
  text-transform: uppercase;
  line-height: 1.5;
  z-index: 1;
}

.text-l {
  font-family: Manrope;
font-size: 40px;
font-weight: 800;
line-height: 48px;
word-spacing: 2px;
text-align: left;
width: 1100px;
  color: #dfdcd5;
  text-transform: uppercase;
  line-height: 1.5;
  z-index: 1;
}

.btn-warning {
  background-color: #e9c46a;
  border-color: #e9c46a;
  border-radius: 10px;
  font-family: 'Manrope', sans-serif; 
  font-size: 16px; 
  padding: 10px 20px; 
  margin-top: 20px; 
}

.btn-warning:hover {
  background-color: #d6b04b;
  border-color: #d6b04b;
}

.text-center {
  text-align: center !important;
}

.p-5 {
  padding: 3rem !important;
}