/* styles/Services.css */

.aquaculture-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
  }
  
  .header img {
    width: 100%;
    height: auto;
  }
  
  .aquaculture-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 20px;
    background-color: #f9f9f9;
  }
  
  .content {
    flex: 1;
    max-width: 600px;
    text-align: left;
    margin-right: 20px;
  }
  
  .image {
    flex: 3;
    max-width: 1000px;
    text-align: center;
    margin:auto;
  }
  
  .image img {
    width: 90%;
    height: auto;
  }
  
  .whatwedo {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #cec81a;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  .heading {
    font-size:4em;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .services {
    margin-top: 30px;
  }
  
  .service {
    margin-bottom: 20px;
  }
  
  .service h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .service ul {
    list-style: none;
    padding: 0;
  }
  
  .service li {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #555;
    font-family: 'Arial', sans-serif;
  }
  
  .service:nth-child(1) li {
    color: #ff6347; 
  }
  
  .service:nth-child(2) li {
    color: #ff4500; 
  }
  
  .service:nth-child(3) li {
    color: #3cb371; 
  }
  
  .service:nth-child(4) li {
    color: #4682b4; 
  }
  
  .container {
    padding: 50px 20px;
    background-color: #fff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    flex: 1 1 calc(25% - 20px); /* Adjusts width to 25% minus margins */
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .card-text {
    font-size: 1.1em;
    color: #555;
    font-family: 'Arial', sans-serif;
  }
  
  .btn-primary {
    background-color: #35a21f;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    background-color: #3faa15;
  }
  
  .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .bg-success {
    background-color: #28a745 !important;
  }
  
  .text-light {
    color: #fff !important;
  }
  
  .p-5 {
    padding: 6rem !important;
  }
  
  .mt-3 {
    margin-top: 10rem !important;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
  }
  