@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-size: cover;
  font-family: 'Manrope', 'sans-serif';
}

/* First block Home Css */
.first-block-home .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero-content {
  font-family: Manrope;
  font-size: 43.92px;
  font-weight: 400;
  line-height: 55.33px;
  text-align: left;

  display: flex;
  align-items: start;
  justify-content: center;
  width: 380px;

  >img {
    width: 50px;
    transform: rotate(10deg);
    position: relative;
    left: -25px;
    top: 10px;
  }
}

.hero-content {
  color: #fff;
  position: relative;
  top: 280px;
  font-size: 28px;
  margin: 0 0 0 30px;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 270px;
}

.hero-image img {
  height: 600px;
  object-fit: cover;
  width: 98vw;
}

.features {
  text-align: center;
  position: relative;

}

.header-cul h2 {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  font-size: 60.3049px;
  line-height: 87px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #FFFFFF;
  padding: 0px;
}

.disbut {
  display: flex;
  justify-content: start;
  margin: 0px 0 25px 30px;
}

.disbut button {
  background-color: #4BAF47;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 150px;
}

.features-grid {
  /*
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0px auto 20px auto;
  width: 80%;
  justify-content: center;
  */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px auto;
  width: 80%;
}

.feature {
  /*
  border: 0px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 20px;
  justify-content: center;
  */
  flex: 1;
  margin: 0 10px;
  text-align: center;
  border: 0px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 20px;
  justify-content: center;
  height: 211px;
}



.feature h3 {
  text-align: center;
  max-width: 100%;
  font-size: calc(0.8vw + 0.7vh + 0.5vmin);
  height: 20px;
}




.feature img {
  /*
  width: 50%;
  object-fit: cover; 
  margin-top: 10px;
  border-radius: 11.6px;
  display: inline-block;
  text-align: center;
  */

  max-width: 200%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 11.6px;
}



.faci {
  font-family: 'Covered By Your Grace';
  margin: 20px 0 0 0;
  color: #EEC044;

  font-size: large;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

/* Second block Home Css */
.second-block-home .container {
  display: flex;
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.imageContainer {
  width: 400px;
  height: 449px;
  left: -150px;
  gap: 0px;
  opacity: 0px;

  position: relative;
  margin-right: 20px;
}

.mainImage {
  margin-top: 100px;
  /* width: 400px; */
  height: 360px;
  left: -10px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subImage {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  bottom: -150px;
  left: -1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.textContainer {


  max-width: 400px;
}

.introductions {
  margin-top: 50px;
  color: #FFA500;
  font-size: 30px;
  font-family: 'Covered By Your Grace';
}

.title {
  width: 507.37px;
  height: 115.2px;
  top: -0.3px;
  gap: 0px;
  opacity: 0px;

  font-family: Manrope;
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;
  text-align: left;

}

.subtitle {
  font-family: Manrope;
  font-size: 26px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  color: #414035;

}

.description {
  width: 527px;
  height: 149px;
  top: 15px;
  gap: 0px;
  opacity: 0px;

  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;

  margin: 10px 0;
  color: #878680;
}

.features {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.featureItem {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  text-align: left;

  display: flex;
  align-items: center;
  gap: 10px;
}

.featureIcon {
  color: #4BAF47;

  width: 50px;
  height: 50px;
}

.green-tick {
  color: green;
  font-size: 18px;
}

.list {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;

  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.button {
  padding: 10px 20px;
  background-color: #00A000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.introduction-4 {
  color: #FFA500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  font-family: 'Covered By Your Grace';
}

.title-4 {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 15px;

}

.exp-img {

  justify-content: center;
  align-items: center;
  margin: 20px;
}

.img-4 {
  display: flex;
  justify-content: center;
}

.img-4 img {
  width: 220px;
  height: 330px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vid {
  display: flex;
  justify-content: center;
}

.vid img {
  width: 800px;
  height: auto;

}

.features-section {
  font-family: 'Covered By Your Grace';
  text-align: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.features-section h2 {
  font-size: 2rem;
  color: #EEC044;
  margin-bottom: 0px;

}

.features-section h3 {

  font-family: Manrope;
  font-size: 48px;
  font-weight: 800;
  line-height: 62.98px;
  text-align: center;
  margin-top: 0%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.tech-cards {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 20%;
  margin: 10px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h4 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;

  font-size: 1.2rem;
  margin: 15px 0;
}

.card button {
  background-color: #6fca1a;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Manrope;
  font-size: 11.78px;
  font-weight: 700;
  line-height: 35.34px;
  text-align: right;

}

.card button:hover {
  background-color: #9cd131;
}

.footer-l {
  padding-left: 50px;
  padding-right: 50px;
  width: 90vw;
  height: 184px;
  top: 3051px;
  left: 383px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  background: #4BAF47;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.footer-l button {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: center;

  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-l button:hover {
  background-color: #228b22;
}

.vid-text {
  margin-left: 50px;
  width: 200px;
  top: -280px;
  position: relative;
  height: 0px;
  color: #fff;
  font-size: xx-large;
}

.imgtext {
  position: relative;
  top: -80px;
  height: 0px;
  color: #fff;
  width: 130px;
  margin-left: 20px;
}

.img5 {

  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 40vw; */
}

.img5 img {
  width: 20vw;
  aspect-ratio: 1/1;

}

.fifth-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 56vh;
  position: relative;
  gap: 5vw;
  margin: 4rem 0rem;

}

.five-text {
  display: flex;
  width: 350px;
  justify-content: center;
  flex-direction: column;
  /* font-size: calc(0.8vw + 0.7vh + 0.5vmin); */
  gap: 10px;
}

.para-5 {
  font-size: 10px;
  color: #878680;
  /* margin: 10px 0 30px 0; */
}

.five-p {
  font-size: 11px;
  color: #878680;
  /* margin: 0 0 30px 0; */
}

.five-h4 {
  font-size: large;
  font-weight: bolder;
}

.six-home {
  background-color: #e0dcc5a9;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.six-title {
  margin: 30px 0 60px 0;
  padding-top: 70px;
  text-align: center;
  width: 80%;
}

.six-p {
  margin-top: 40px;
  font-size: 12px;
  color: #878680;
  margin: 0 0 50px 0;
}

.title-6 {
  margin: 10px 0 30px 0;
  font-weight: bolder;
  font-size: 20px;
}

.user-six {
  height: 180px;
  width: 500px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.six-p2 {
  padding: 30px;
  font-size: 13px;
  color: #878680;
  margin: 0 0 20px 0;
  width: 350px;
}

.user-name {
  padding: 0 0 0 30px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #d6d3c159;
  border-radius: 50%;
  border-style: dotted;
  color: #FFA500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.arrow {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
  padding: 10px;
}

.left-arrow {
  position: absolute;
  left: -50px;
}

.right-arrow {
  position: absolute;
  right: -50px;
}

.user-p1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-articles {
  padding: 60px 120px;
  text-align: center;
}

.news-articles h2 {
  font-family: 'Covered By Your Grace';
  font-weight: 300;
  font-size: 24px;
  color: #F9A825;
  margin-bottom: 10px;
}

.news-articles h1 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #333;
  margin-bottom: 40px;
}

.articles-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 45px;
}

.article {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  width: 100%;
  max-width: 350px;
}

.article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-content {
  padding: 20px;
}

.article-date {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: #888;
  margin-bottom: 5px;
}

.article-author {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
}

.article h3 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  color: #333;
  margin-bottom: 0;
}

.circle {
  width: 100px;
  /* Adjust size as needed */
  height: 100px;
  /* Adjust size as needed */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Center the circle */
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-articles.button {
  margin-top: 30px;
}